{% extends 'default.html.twig' %}

{# Add template specific stylesheet #}
{% block stylesheets %}
	{% do assets.addCss('theme://css/griddy.css',99) %}
	{{ parent() }}
{% endblock %}

{# Add template specific javascript #}
{% block javascripts %}
	{{ parent() }}
	{% do assets.addJs('theme://js/griddy.js') %}
{% endblock %}

{% block extra %}
	<div id="extra" class="griddy">
		{% for item in page.collection %}
			{% set preview = item.media.images|first %}
			{% if not preview %}
				{% set preview = item.media|first %}
			{% endif %}

			<div class="griddy-item" data-href="{{ item.url }}">
				<a href="{{ item.url }}">
					<div class="griddy-media-container">
						{{ preview.html('', '', 'griddy-media')|raw }}
					</div>
				</a>
				<h3 class="griddy-item-title">{{ item.title }}</h3>
				<div class="griddy-item-summary">
					<span>{{ item.summary|safe_truncate_html(24)|raw }}</span>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
