{% extends 'default.html.twig' %}

{# Add template specific stylesheet #}
{% block stylesheets %}
	{% do assets.addCss('theme://css/griddy.css',99) %}
	{{ parent() }}
{% endblock %}

{% block extra %}
	<div id="extra" class="griddy">
		{% for item in page.collection %}
			<a href="{{ item.url }}">
				{{ item.media.images|first|raw }}
				<h3 class="griddy-item-title">{{ item.title }}</h3>
				<div class="griddy-item-summary">{{ item.summary|raw }}</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
